* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

/*load*/
.load {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: block;
    overflow: hidden;
}

.load img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

/*header */
.header {
    background-color: black;
    justify-content: space-around;
    /* Giá trị này cũng làm cho các khoảng cách giữa các phần tử bằng nhau, tuy nhiên nó cũng thay đổi cả vị trí của hai phần tử đầu cuối*/
    align-items: center;
}

.header>div {
    color: #fff;
    font-size: 30px;
}

/*end header*/

/*MAP*/
.map {
    height: 500px;
}

iframe {
    width: 100%;
    height: 500px;
}

/*LIÊN HỆ*/
.lienhe {
    width: 65%;
}

.thongtin-items {
    width: 100%;
    margin: auto;
}

ul.list>li>a:hover {
    text-shadow: 0 0 5px #ffee10;
}

.lienhe-head {
    padding-top: 60px;
    font-weight: 700;
    font-size: 44px;
}

.lienhe-describe {
    padding: 20px 0 20px 0;
}

.describe {
    width: 80%;
    padding: 20px 0 20px 0;
}


.lienhe-form {
    width: 65%;
}

#btn-register  button {
    padding: 30px;
    width: 80%;
    display: block;
    margin: 20px auto;
} 

.custom-btn {
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

#btn-register  {
    border: none;
    padding: 20px;
    display: block;
    margin: 20px auto;
   
}
form .form-control {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 40px 0;
}

.form-control.success {
	border-bottom-color: #2691d9;
}

.form-control.error {
	border-bottom-color: #e74c3c;
}

.form-control input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

small {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 3px;
	color: #e74c3c;
}

.form-control span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: 0.3s;
}

.form-control input:focus ~ span::before {
	width: 100%;
}

input[type='submit'] {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}

input[type='submit']:hover {
	background-color: #08609a;
}

.signup_link {
	margin: 25px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}

.signup_link a {
	color: #2691d9;
	text-decoration: none;
}

.signup_link a:hover {
	text-decoration: underline;
}
    

label {
    padding-left: 50px;
    font-size: 17px;
    color: gray;
}

.btn-2 {
    background-color: red;
}
.btn-2:hover {
    background-color: blue;
}

/*thông tin*/
.thongtin-head {
    padding-top: 60px;
    font-weight: 700;
}

.thongtin-describe {
    padding: 20px 0 20px 0;
}
.thongtin {
    width: 35%;
}

.thongtin-items hr {
    width: 15%;
}

/*text*/
.text {
    background-image: linear-gradient(225deg,
            white 0%,
            gray 10%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.8s linear infinite;
    display: inline-block;
    font-size: 35px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/*footer*/

.col30 {
    width: 50%;
}

div.col302 {
    width: 50%;
}

.col30 {
    width: 50%;
    padding: 30px;
    margin-top: 80px;
}

.col30>h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.col30>ul {
    list-style-type: none;
    line-height: 2.5;
}

.col30>ul>li>a {
    display: block;
    text-decoration: none;
}

.col30 i {
    padding-right: 8px;
}

div.col302 {
    width: 50%;
    padding: 30px;
    margin-top: 80px;
}

div.col302>h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

ul.col302 {
    list-style-type: none;
    /*  line-height: 2.5; */
    font-size: 20px;
}

ul.col302>li {
    padding: 10px;
}

ul.col302>li>a {
    text-decoration: none;
}

.footer1 li:hover a {
    color: gray;
    font-size: 18.5px;
}

/*footer 2*/
.text-footer>a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.text-footer>a:hover {
    text-decoration: none;
}

ul.item1 {
    margin-top: 80px;
    list-style-type: none;
    /*  justify-content: center; */
}

ul.item2 {
    list-style-type: none;
}

ul.list {
    list-style-type: none;
}

ul.list>li>a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

ul.list>li>a>i {
    font-size: 30px;
    color: lightblue;
    /* padding-right: 10px; */
}

ul.item1>li>a>i {
    font-size: 30px;
    color: gray;
    padding-right: 10px;
}

ul.item2>li>a>i {
    font-size: 30px;
    color: gray;
    /*  padding-right: 10px; */
}
.ic1:hover i {
    color: blue;
}

.ic2:hover i {
    color: #0693e3;
}

.ic3:hover i {
    color: #cf2e2e;
}

.ic4:hover i {
    color: #00d084;
}

/*contact fixed*/

.contact-fixed1 {
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 999;
}

.contact-fixed2 {
    overflow: hidden;
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    transition: .3s ease;
    border-radius: 1rem 0 0 1rem;
    background-color: #fff;
}

.item-footer {
    color: rgb(130, 102, 24);
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-bottom: 1px solid #dee2e6;
}

.contact-fixed2 a {
    text-decoration: none;
}

.item-footer i {
    font-size: 30px;
}

.text-footer2 {
    display: none;
    position: absolute;
    right: 65px;
    padding: 10px;
    min-width: 120px;
    border-radius: 3px;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.item-footer:hover {
    background-color: pink;
}

.item-footer:hover .text-footer2 {
    display: block;
}

a#gototop {
    font-size: 25px;
    background: linear-gradient(#142850, #27496D, #0C7B93, #00A8CC);
    width: 40px;
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 3px;
    float: right;
    margin-top: 70px;
}

/*end contact fixed*/

section {
    width: 90%;
    margin: 50px auto;
}

.footer1 {
    width: 90%;
    margin: auto;
}

.footer2 {
    justify-content: center;
    background: linear-gradient(#1B262C, #0F4C75, #3282B8, #BBE1FA);
    color: white;
    padding: 5px;
}


/*MOblie*/
/*REPONSIVE PHONE*/
@media (max-width: 740px) {
    * {
        font-size: 12px;
        color: crimson;
        font-size: 14px;
    }

    /*header1*/
    .none {
        display: none;
    }

    .header>div {
        font-size: 10px;
    }

    /*liên hệ*/
    .content {
        flex-wrap: wrap;
    }

    .lienhe {
        width: 100%;
        margin: auto;
    }

    /*thông tin*/
    .thongtin {
        width: 100%;
    }

    ul.item1 {
        margin-top: 10px;
    }

    /*footer*/
    .footer1 {
        flex-wrap: wrap;
    }

    .col50 {
        width: 100%;
    }

    .col30 {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
    }

    div.col302 {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
    }

    .col50>p {
        font-size: 15px;
        font-weight: 550;
        letter-spacing: 0.5;
        /*  padding: 15px; */
        text-align: center;
    }

    .col30>h2 {
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .footer1 li:hover a {
        color: gray;
        /* font-size: 18.5px; */
    }

    div.col302>h2 {
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    body {
        position: relative;
    }

    .contact-fixed1 {
        position: absolute;
        width: 100%;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .contact-fixed2 {
        display: flex;
        justify-content: center;
        border-radius: 0;
        border-top: 1px solid pink;
    }

    a#gototop {
        display: none !important;
    }

    .footer2 {
        display: none;
    }

    section {
        width: 94%;
        margin: 0 auto;
    }
}

/*REPONSIVE TABLET*/
/*REPONSIVE TABLET*/

@media (min-width: 768px) and (max-width: 1024px) {
    * {
        font-size: 1em;
        color: crimson;
    }

    .none {
        display: none;
    }

    .header>div {
        font-size: 10px;
    }

    .head-img {
        height: 400px;
    }

    .content {
        flex-wrap: wrap;
    }

    .lienhe {
        width: 100%;
    }

    .thongtin {
        width: 100%;
    }

    ul.item1 {
        margin-top: 20px;
    }

    .footer1 {
        flex-wrap: wrap;
    }

    .col50 {
        width: 100%;
    }

    .col50-img {
        width: 50%;
        margin: auto;
    }

    .col30,
    div.col302 {
        width: 50%;
        margin-top: 10px;
    }

    section {
        width: 80%;
        margin: 0 auto;
    }
}